<div class="m-3">
    <div class="h3">Instructions & Tips:</div>
    <ul>
        <li>1. Tap on the Chrome Extension and select "Hide Calendar" to reload the schedule view</li>
        <li>2. Any filters applied to the original schedule list will be reflected when the calendar view is shown (apply filters using Advanced Search)</li>
        <li>3. Click on a session to display a modal with more information about the session</li>
        <li>4. Sessions are color coded by track</li>
    </ul>
</div>

<div id="scheduleTable" class="mx-3">
    <template class="calendar_day" v-for="(day, date, dayIndex) in days">
        <div class="h1 my-3">
            <span class="badge display_date text-light">{{day.display_date}}</span>
        </div>
        <div class="position-relative">
            <div>
                <div class="border-bottom"
                     :style="{ width: getFullDayWidth(day.sessions.length) + 'px',
                     height: getHalfHourHeight() + 'px' }"
                     v-for="hour in numHalfHoursInDay(day.first_session_start_time, day.last_session_end_time)">
                    <span class="time_label fixed_scrolling position-absolute bg-transparent font-weight-bold"
                    :style="{ width: constantsObject.timeLabelWidth + 'px' }">
                        {{ getDisplayHours(day.first_session_start_time, (hour-1)/2) }}
                    </span>
                </div>
            </div>

            <template v-for="(session, index) in day.sessions">
                <div class="session_block card position-absolute mr-1" :class="getTrackClass(session)"
                     :style="{ height: getHeightForSession(session) + 'px',
                     width: constantsObject.sessionBlockWidth + 'px',
                     top:  getTopOffsetForSession(session, day, dayIndex) + 'px',
                     left: getLeftInsetForSession(index) + 'px'}"
                     :title="session.title"
                     v-on:click.capture="launchModal(session)">
                    <div class="card-body p-2">
                        <h5 class="card-title">{{session.title}}</h5>
                    </div>
                </div>
            </template>
        </div>
    </template>
</div>

<div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionTitleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sessionTitleLabel">{{session.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div><span class="font-weight-bold">Track:</span> {{session.track}} | <span class="font-weight-bold">Audience Level:</span> {{session.audience_level}}</div>
                <div class="font-weight-light font-italic">{{getDisplayTime(session.start_time)}} to {{getDisplayTime(session.end_time)}}</div>
                <div class="mt-2">{{session.description}}</div>
            </div>
        </div>
    </div>
</div>

<style scoped>
    body {
        font-family: 'Brandon Grotesque W01' !important;
    }

    .time_label {
        z-index: 100;
    }

    .display_date {
        background-color: #4FC3F7;
    }

    .card{
        overflow: hidden;
    }

    /* TRACKS */
    .award_series {
        background-color: #F06292;
    }
    .career {
        background-color: #ef5350;
    }
    .cra_w {
        background-color: #212121;
        color: #FAFAFA;
    }
    .general_session {
        background-color: #AB47BC;
    }
    .internet_of_things_wearable_technology {
        background-color: #FFEE58;
        /* emerging tech */
    }
    .open_source {
        background-color: #FF7043;
    }
    .organizational_transformation {
        background-color: #26C6DA;
    }
    .poster_session_acm_student_research_competition {
        background-color: #BDBDBD;
    }
    .products_a_to_z {
        background-color: #FFCA28;
    }
    .special_session {
        background-color: #5C6BC0;
    }

    /* Other */
    .lunches_and_receptions {
        background-color: #66BB6A;
    }
    .faculty {
        background-color: #66BB6A;
    }

    /* Technology */

    .artificial_intelligence, .community, .computer_systems_engineering, .data_science,
    .featured_session, .human_computer_interaction, .interactive_media, .security_privacy,
    .software_engineering, .tech_for_women {
        background-color: #29B6F6;
    }

</style>